{% extends 'lab_03/base_layout.html' %}

{% load static from staticfiles %}

{% block content %}

    <header class="container">
        <div class="d-flex">
            <div>
                <h1 class="white-text bolder blog-title">FUTURE TEXTS</h1>
                <h4 class="hnl-red-text">Living Writings of Jonathan Christopher Jakub</h4>
                <h5 class="light-grey-text">A web-developing lover, tech-growing enthusiast</h5>
            </div>
            <a href="{% url 'lab_03:home_page' %}" class="ml-auto"><img class="home-link-img" src="{% static 'lab_03/img/home-button.png' %}"></a>
        </div>
    </header>
    <div class="w-100 container align-items-center first-top">
        <div class="card transparent-bg rounded-edge light-grey-border article-card">
            <div class="card-body">
                <h5 class="card-title white-text bold">A New Sight of Future Web-Developing</h5>
                <h6 class="card-subtitle mb-2 text-muted">Sunday, 2018 Sept 2</h6>
                <p class="card-text white-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <a href="#" class="card-link bold hnl-red-text">Read more ...</a>
            </div>
        </div>

        <div class="card transparent-bg rounded-edge light-grey-border article-card">
            <div class="card-body">
                <h5 class="card-title white-text bold">A Web-Developer Guide to Greatness</h5>
                <h6 class="card-subtitle mb-2 text-muted">Sunday, 2018 Aug 5</h6>
                <p class="card-text white-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <a href="#" class="card-link bold hnl-red-text">Read more ...</a>
            </div>
        </div>

        <div class="card transparent-bg rounded-edge light-grey-border article-card">
            <div class="card-body">
                <h5 class="card-title white-text bold">Story of a Little Portfolio</h5>
                <h6 class="card-subtitle mb-2 text-muted">Sunday, 2018 July 1</h6>
                <p class="card-text white-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <a href="#" class="card-link bold hnl-red-text">Read more ...</a>
            </div>
        </div>    
    </div>
    <footer>
        <nav class="pagination-nav-bar" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link transparent-border" href="#" aria-label="Previous">
                        <span class="light-grey-text"aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link hnl-red-text transparent-border" href="#">1</a></li>
                <li class="page-item">
                    <a class="page-link transparent-border" href="#" aria-label="Next">
                        <span class="light-grey-text"aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </footer>

{% endblock %}