{% extends 'lab_03/base_layout.html' %}

{% load static from staticfiles %}

{% block content %}
    
    <div class="w-100 full-height home-section-wrapper d-flex align-items-center main" id="home">
        <section class="container">
            <h1 class="light-grey-text bold page-title">Professional Full-Stack Web Developer.</h1>
            <h3 class="light-grey-text home-desc">
                I design and code amazing websites, and I love what I do. 
                If you are interested in me, this is the place to go. 
                You can find out more about my kind of web-developing <a class="in-text-link hnl-red-text" href="{% url 'lab_03:blog' %}">here</a>.
            </h3>
            <a href="#profile" class="btn hnl-red-bg btn-lg home-nav-btn dark-grey-text text-left" tabindex="-1" role="button" aria-disabled="true">I want to know more <span class="bold"> ></span></a>
            <a href="#contacts" class="btn light-grey-bg btn-lg home-nav-btn dark-grey-text text-left" tabindex="-1" role="button" aria-disabled="true">I'm looking for hire <span class="bold"> ></span></a>
        </section>
    </div>
    
    <div class="w-100 full-height white-bg d-flex align-items-center section-wrapper">
        <section class="container" id="profile">
            <div class="text-center">
                <img src="{% static 'lab_03/img/profile-pic.jpg' %}" class="img-responsive rounded-circle profile-pic" alt="Profile Picture">
                <h2 class="hnl-red-text">Hello, I'm Jojo. Nice to meet you.</h2>
                <h4 class="dark-grey-text">Since beginning my journey as a web designer, I've done intense trainings in web-developing, 
                    and collaborated with talented people to create digital products for both business and consumer use. 
                    I'm active, energetic, and passionate at what I'm doing.</h4>
            </div>
        </section>
    </div>

    <div class="w-100 full-height light-grey-bg d-flex align-items-center section-wrapper">
        <section class="container" id="skills">
            <h3 class="dark-grey-text text-center section-title">Acquired Skills</h3>
            <div class="text-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card hnl-red-border white-bg">
                            <div class="card-body">
                                <h4 class="card-title hnl-red-text">Back-End Developer</h4>
                                <p class="card-text">
                                    <p>I love designing and coding web apps structure.</p>
                                    <p><h5 class="hnl-red-text">Framework I used</h5></p>
                                    <p>Django</p>
                                    <p>Rails</p>
                                    <p>Laravel</p>
                                    <p><h5 class="hnl-red-text">Tools I used</h5></p>
                                    <p>Docker</p>
                                    <p>Databases</p>
                                    <p>Various Editors</p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card hnl-red-border white-bg">
                            <div class="card-body">
                                <h4 class="card-title hnl-red-text">Front-End Developer</h4>
                                <p class="card-text">
                                    <p>I enjoy creating marvelous UI/UX for my well-designed web apps</p>
                                    <p><h5 class="hnl-red-text">Languages I used</h5></p>
                                    <p>HTML</p>
                                    <p>CSS</p>
                                    <p>Javascript</p>
                                    <p><h5 class="hnl-red-text">Tools I used</h5></p>
                                    <p>Wireframe</p>
                                    <p>Marvelapp</p>
                                    <p>Various Editors</p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card hnl-red-border white-bg">
                            <div class="card-body">
                                <h4 class="card-title hnl-red-text">Mentor</h4>
                                <p class="card-text">
                                    <p>I like teaching and sharing my knowledge to my juniors.</p>
                                    <p><h5 class="hnl-red-text">Where I teach</h5></p>
                                    <p>Faculty of Computer Science</p>
                                    <p>University of Indonesia</p>
                                    <p>2018</p>
                                    <p><h5 class="hnl-red-text">Mentoring Experiences</h5></p>
                                    <p>300+ juniors</p>
                                    <p>20+ mentors</p>
                                    <p>500+ work hours</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>           
            </div>
        </section>
    </div>
    
    <div class="w-100 full-height white-bg d-flex align-items-center section-wrapper">
        <section class="container" id="projects">
            <h3 class="dark-grey-text text-center section-title">Projects</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'lab_03/img/projects/project1.jpg' %}" alt="Project#1">
                        <div class="card-body">
                            <h5 class="card-title bold">Portfolio Website</h5>
                            <p class="card-text">
                                This is my latest project. I have been working on this project since the
                                beginning of the second semester of 2018. I have done the research and designing
                                steps. I need to code it to produce a beautiful Portfolio
                                website that everyone can easily access.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'lab_03/img/projects/project2.jpg' %}" alt="Project#2">
                        <div class="card-body">
                            <h5 class="card-title bold">Line Bot Integrated Website</h5>
                            <p class="card-text">
                                This is my previous project. I almost finish this project and I am intending to
                                finish it by the end of this semester. I designed the apps, classes, maps, and 
                                object parsings. I also incorporated the app with a Line Bot to enrich and ease 
                                users to access my app.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="w-100 height-90 light-grey-bg d-flex align-items-center section-wrapper">
        <section class="container" id="contacts">
            <div class="text-center">
                <h3 class="dark-grey-text section-title">Contact<span class="hnl-red-text">ME</span></h3>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <ul class="d-flex list-unstyled social-medias">
                        <li><a href="https://mail.google.com" target="_blank"><img class="media-link-img" src="{% static 'lab_03/img/social-medias/mail.png' %}"></a></li>
                        <li><a href="https://github/Jonathanjojo19" target="_blank"><img class="media-link-img" src="{% static 'lab_03/img/social-medias/github.png' %}"></a></li>
                        <li><a href="https://id.linkedin.com/in/jonathan-christopher-aba556164" target="_blank"><img class="media-link-img" src="{% static 'lab_03/img/social-medias/linkedin.png' %}"></a></li>
                        <li><a href="https://twitter.com/jonathanjojo_19" target="_blank"><img class="media-link-img" src="{% static 'lab_03/img/social-medias/twitter.png' %}"></a></li>
                    </ul>
                </div>

                <div class="col-md-10">
                    <form class="feedback-form">
                        <div class="form-group row">
                            <label for="inputName" class="col-2 col-md-3 col-form-label text-right bold hnl-red-text">Name</label>
                            <div class="col-10 col-md-9">
                            <input type="text" class="form-control hnl-red-border" id="inputName" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-2 col-md-3 col-form-label text-right bold hnl-red-text">Email</label>
                            <div class="col-10 col-md-9">
                            <input type="email" class="form-control hnl-red-border" id="inputEmail" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputMessage" class="col-2 col-md-3 col-form-label text-right bold hnl-red-text">Message</label>
                            <div class="col-10 col-md-9">
                            <textarea class="form-control hnl-red-border" id="inputMessage" placeholder="Your Message"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-10 col-md-9 ml-auto">
                                <button type="submit" class="btn btn-primary hnl-red-text white-bg hnl-red-border submit-btn">Send!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <p class="text-center personal-quote">Living, Learning, Loving</p>
        </section>
    </div>

{% endblock %}