{% extends 'lab_03/base_layout.html' %}

{% load static from staticfiles %}

{% block content %}
    <div class="w-100 height-90 black-bg d-flex align-items-center section-wrapper">
        <section class="container main" id="signup">
            <div class="text-center">
                <h3 class="light-grey-text section-title">Sign<span class="hnl-red-text">UP!</span></h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form class="feedback-form">
                        <div class="form-group row">
                            <label for="inputName" class="col-3 col-md-2 col-form-label text-right bold hnl-red-text">Name</label>
                            <div class="col-9 col-md-10">
                            <input type="text" class="form-control hnl-red-border" id="inputName" placeholder="Your Name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-3 col-md-2 col-form-label text-right bold hnl-red-text">Email</label>
                            <div class="col-9 col-md-10">
                            <input type="email" class="form-control hnl-red-border" id="inputEmail" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputUserName" class="col-3 col-md-2 col-form-label text-right bold hnl-red-text">User Name</label>
                            <div class="col-9 col-md-10">
                            <input type="text" class="form-control hnl-red-border" id="inputUserName" placeholder="Your User Name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputBirthDate" class="col-3 col-md-2 col-form-label text-right bold hnl-red-text">Birth Date</label>
                            <div class="col-9 col-md-10">
                            <input type="date" class="form-control hnl-red-border" id="inputBirthDate" placeholder="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-3 col-md-2 col-form-label text-right bold hnl-red-text">Password</label>
                            <div class="col-9 col-md-10">
                            <input type="password" class="form-control hnl-red-border" id="inputPassword" placeholder="Your Password" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputConfirmationPassword" class="col-3 col-md-2 col-form-label text-right bold hnl-red-text">Confirm Password</label>
                            <div class="col-9 col-md-10">
                            <input type="password" class="form-control hnl-red-border" id="inputConfirmationPassword" placeholder="Your Password Again" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-9 col-md-10 ml-auto">
                                <button type="submit" data-toggle="modal" data-target="#AlertSign" class="btn btn-primary hnl-red-text white-bg hnl-red-border submit-btn">Sign Up!</button>
                            </div>

                            <div class="modal fade" id="AlertSign" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title hnl-red-text" id="exampleModalCenterTitle">Sign Up!</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to sign up with these information?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary hnl-red-bg light-grey-text white-border" data-dismiss="modal">Nope</button>
                                        <button type="button" class="btn btn-primary hnl-red-text white-bg hnl-red-border bold">Sure!</button>
                                    </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

{% endblock %}