body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000011;
}

.tosca-text {
    color: #00dba0;
}

.tosca-text:hover {
    color: #00dba0;
}

.dark-navy-text {
    color: #000011;
}

.dark-navy-text:hover {
    color: #000011;
    text-decoration: none;
}

.light-grey-text {
    color: #EDEDED;
}

.light-grey-text:hover {
    color: #EDEDED;
}

.white-text {
    color: #ffffff;
}

.red-text {
    color: #f45138;
}

.red-text:hover {
    color: #f45138;
}

.alert-font {
    color: #f45138;
    text-decoration: underline;
}

.alert-font:hover {
    color: #f45138;
    text-decoration: underline;
}

.full-height {
    min-height: 100vh;
}

.height-90 {
    min-height: 90vh;
}

.height-50 {
    min-height: 50vh;
}

.navbar {
    background-color: #111111;
}

.active .active-ref {
    color: #00dba0;
    font-weight: bold;
}

.brand {
    font-weight: bolder;
    margin-left: 1em;
}

.container {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.section-wrapper {
    position: static;
}

.fields {
    min-width: 60vw;
}

.section-title {
    margin-top: 1em;
    margin-bottom: 2.5em;
}

.light-grey-bg {
    background-color: #d9e5f7;
}

.white-bg {
    background-color: #ffffff;
}

.dark-navy-bg {
    background-color: #000011;
}

.black-bg {
    background-color: #000000;
}

.red-bg{
    background-color: #f45138;
}

.tosca-bg {
    background-color: #00dba0;
}

.transparent-bg {
    background-color: transparent;
}


.container .main {
    padding-top: 0em;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.tosca-border {
    border: 1px solid #00dba0;
}

.light-grey-border {
    border: 1px solid #d9e5f7;
}

.dark-navy-border {
    border: 1px solid #000011;   
}

.transparent-border {
    border: none;
}

.rounded-edge {
    border-radius: 2em 2em 2em 2em;
}

.activity-card {
    margin-top: 1em;
    margin-bottom: 1em;
}

.card-title {
    margin-bottom: 0.75em;
}

.activity:hover {
    border: 1px solid #ff7f00;
    transition: all 0.4s ease-in-out;
}