body {
    font-family: 'Open Sans', sans-serif;
    background-color: #111111;
}

.hnl-red-text {
    color: #FF5C3F;
}

.dark-grey-text {
    color: #111111;
}

.light-grey-text {
    color: #EDEDED;
}

.white-text {
    color: #ffffff;
}

.full-height {
    min-height: 100vh;
}

.height-90 {
    min-height: 90vh;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.95);
}

.active .active-ref {
    color: #FF5C3F;
    font-weight: bold;
}

.brand {
    font-weight: bolder;
}

.container {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.home-section-wrapper {
    background: url("img/bg.jpg");
}

.section-wrapper {
    position: static;
}

.light-grey-bg {
    background-color: #DDDDDD;
}

.white-bg {
    background-color: #ffffff;
}

.dark-grey-bg {
    background-color: #111111;
}

.hnl-red-bg {
    background-color: #FF5C3F;
}

.transparent-bg {
    background-color: transparent;
}

.black-bg {
    background-color: #000000;
}

.container .main {
    padding-top: 0em;
}

#profile .profile-pic {
    width: 20vw;
    margin: 3em;
    margin-top: 6em;
}

.media-link-img {
    width: 5vw;
}

.home-desc {
    margin-top: 1.5em;
}

.home-nav-btn {
    margin-top: 3em;
    margin-right: 1em;
    min-width: 13em;
}

.home-nav-btn:hover {
    color: #111111;
}

.in-text-link {
    text-decoration: underline;
    font-weight: bold;
}

.in-text-link:hover {
    color: #FF5C3F;
}

.section-title {
    margin-top: 1em;
    margin-bottom: 1em;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.hnl-red-border {
    border: 1px solid #FF5C3F;
}

.light-grey-border {
    border: 1px solid #DDDDDD;
}

.transparent-border {
    border: none;
}

.rounded-edge {
    border-radius: 2em 2em 2em 2em;
}

#projects .card {
    padding : 2em auto;
}

#projects .card:hover {
    color : #EDEDED;
    background-color: #FF5C3F;
    transition: all 0.25s ease-in-out;
}

#contacts .feedback-form {
    margin-top: 2em;
    margin-bottom: 8em;
}

#contacts .media-link-img {
    padding: 0.7em 0;
} 

.home-link-img {
    width: 2.5em;
}

.social-medias {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.article-card {
    padding: 1em;
    margin: 2em auto;
}

.card-title {
    font-size: 1.5em;
}

.card-subtitle {
    font-size: 1em;
}

.blog-title {
    margin-bottom: 0.75em;
}

.first-top {
    padding-top: 0;
}

.pagination-nav-bar .pagination .page-item .page-link {
    background: transparent;
}

@media (max-width: 750px) {
    .home-title {
        margin-top: 2em;
    }

    .home-section-wrapper {
        padding-right: 1.5em;
        padding-left: 1.5em;
        padding-bottom: 4em;
    }

    .full-height {
        min-height: 50vh;
    }

    #profile .profile-pic {
        width: 40vw; 
    }

    .social-medias {
        flex-direction: row;
        justify-content: center;
    }

    .social-medias li {
        padding: 0 2em;
    }

    #projects .card {
        margin: 1em auto;
    }

    #skills .card {
        margin: 1em auto;
    }

    h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1em;
    }
}
