{% load static from staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello, I'm {{ nickname }}</title>
    <link rel="shortcut icon" href="{% static 'icon.png' %}">
    <link href="{% static 'lab_01/profile-styles.css' %}" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
    <ul>
        <li><a href="{% url 'lab_01:my_profile' %}">Jojo</a></li>
        <li><a href="{% url 'lab_01:dave_profile' %}">Dave</a></li>
        <li class="active"><a href="{% url 'lab_01:ferriyal_profile' %}">Ferriyal</a></li>
    </ul>

    <div class="grid-container">
        <div class="header">Hello World!</div>
        <div class="photo">
            <img src="{% static 'lab_01/ferriyal.jpg' %}" alt="profile-photo" id="profile-photo"/>
        </div>
        <div class="bio">
            <table>
                <tr>
                    <td class="key">Name</td>
                    <td class="value">{{ name }}</td>
                </tr>
                <tr>
                    <td class="key">NPM</td>
                    <td class="value">{{ npm }}</td>
                </tr>
                <tr>
                    <td class="key">University</td>
                    <td class="value">{{ university }}</td>
                </tr>
                <tr>
                    <td class="key">Hobby</td>
                    <td class="value">{{ hobby }}</td>
                </tr>
                <tr>
                    <td class="key">Age</td>
                    <td class="value">{{ age }}</td>
                </tr>      
            </table>
        </div>  
        <div class="desc">
            <p>Saya seorang mahasiswa yang sedang menuntut ilmu komputer.</p>
        </div>
    </div>
</body>

</html>