body {
    background-color: #e3e7ed;
    padding: 2.5%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;

}

#profile-photo {
    height: 200px;
    border-radius: 50%;
    border : 10px ridge #3d4656;
    margin : 0 10px;
}

.grid-container {
    display: grid;
    grid-template:
        'header  header  header  header  header  header'
        'photo   photo   bio     bio     bio     bio'
        'photo   photo   desc    desc    desc    desc';
    grid-gap: 10px;
    background-color: white;
    padding: 25px;
    border-radius: 0px 0px 10px 10px;
}

.grid-container > div {
    background-color: white;
    text-align: left;
    padding:20px 0;
    font-size: 18px;
}

.header { 
    grid-area: header; 
}

.grid-container > .header {
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
}

.photo { 
    grid-area: photo; 
}

.grid-container > .photo {
    padding-right: 25px;
}

.bio { 
    grid-area: bio; 
}

.grid-container > .bio > table {
    width: 95%;
}

.key {
    font-weight: bold;
}

.desc { 
    grid-area: desc; 
}

.grid-container > .desc {
    padding-top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px 10px 0px 0px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}