{% extends 'lab_05/base_layout.html' %}

{% block content%}
    <div class="w-100 dark-navy-bg d-flex align-items-center section-wrapper">
        <section class="container main" id="activity_details">
            <div class="text-center">
                <h2 class="tosca-text section-title">{{ activity.name }}</h2>
            </div>
            <div class="row height-50">
                <div class="col-md-9">
                    <div class="form-group row">
                        <div class="col-4 col-md-4 text-right tosca-text"><h3>Date</h3></div>
                        <div class="col-8 col-md-8 light-grey-text"><h3>{{ activity.day }}, {{ activity.date }}</h3></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 col-md-4 text-right tosca-text"><h3>Place</h3></div>
                        <div class="col-8 col-md-8 light-grey-text"><h3>{{ activity.place }}</h3></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 col-md-4 text-right tosca-text"><h3>Start Time</h3></div>
                        <div class="col-8 col-md-8 light-grey-text"><h3>{{ activity.start_time }}</h3></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 col-md-4 text-right tosca-text"><h3>End Time</h3></div>
                        <div class="col-8 col-md-8 light-grey-text"><h3>{{ activity.end_time }}</h3></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 col-md-4 text-right tosca-text"><h3>Category</h3></div>
                        <div class="col-8 col-md-8 light-grey-text"><h3>{{ activity.category }}</h3></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h6 class="tosca-text">Add your Notes here :</h6>
                    <form class="site-form" action="{% url 'lab_05:note' act_id=activity.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-9 col-md-9">
                                {% for field in note_form.visible_fields %}
                                    {{ field }}
                                {% endfor %}
                            </div>
                            <div class="col-3 col-md-3 ml-auto">
                                <button type="submit" class="btn-sm btn-primary tosca-text dark-navy-bg bolder tosca-border submit-btn">Add!</button>
                            </div>
                        </div>
                    </form>
                    {% for note in activity.notes.all %}
                        <h6 class="tosca-text">- <span class="light-grey-text">{{ note.text }}</span></h6>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}