{% extends 'lab_05/base_layout.html' %}

{% block content%}
    <div class="w-100 height-90 dark-navy-bg d-flex align-items-center section-wrapper">
        <section class="container main" id="activity_create">
            <div class="text-center">
                <h3 class="light-grey-text section-title">Create<span class="tosca-text">Activity!</span></h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form class="site-form" action="{% url 'lab_05:activity_create' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                            <div class="form-group row">
                                <label for="inputName" class="col-3 col-md-2 col-form-label text-right bold tosca-text">
                                    {{ field.label_tag }}
                                </label>
                                <div class="col-9 col-md-10">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group row">
                            <div class="col-9 col-md-10 ml-auto">
                                <button type="submit" class="btn btn-primary tosca-text dark-navy-bg bolder tosca-border submit-btn">Create!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}