{% extends 'lab_05/base_layout.html' %}

{% block content%}
    <div class="w-100 height-90 dark-navy-bg d-flex section-wrapper">
        <section class="container main" id="activity_list">
            <div class="text-center section-title">
                <h3 class="light-grey-text">Activity<span class="tosca-text">List</span></h3>
                {% if activities.exists %}
                    <h6><a class="alert-font" data-toggle="modal" data-target="#DeleteAllAlert" href="{% url 'lab_05:activity_delete_all' %}">Delete All</a></h6>
                    <div class="modal fade" id="DeleteAllAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content dark-navy-bg tosca-text light-grey-border">
                                <div class="modal-header dark-navy-border">
                                    <h5 class="modal-title hnl-red-text" id="exampleModalCenterTitle">Delete All Activities</h5>
                                    <button type="button" class="close light-grey-text" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body dark-navy-border">
                                    Are you sure you want delete all your schedules?
                                </div>
                                <div class="modal-footer dark-navy-border">
                                    <button type="button" class="btn btn-primary tosca-text dark-navy-bg tosca-border bold" data-dismiss="modal">Cancel</button>
                                    <a class="bold btn btn-secondary red-bg dark-navy-border dark-navy-text" href="{% url 'lab_05:activity_delete_all' %}">Delete All</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="row justify-contents-start">
                {% for activity in activities %}
                <div class="activity-card col-md-4">
                    <div class="activity transparent-bg rounded-edge light-grey-border card">
                        <div class="card-body">
                            <h4 class="card-title bold tosca-text">{{ activity.name }}</h4>
                            <h5 class="card-subtitle mb-2 light-grey-text">{{ activity.day }}, {{ activity.date }}</h5>
                            <h5 class="card-subtitle mb-2 light-grey-text">{{ activity.place }}, {{ activity.start_time }} - {{ activity.end_time }} </h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ activity.category }}</h6>
                            <h6 class="card-subtitle mb-2">{{ activity.notes.all.count }} notes</h6>
                            <div>
                                <h5 class="text-right">
                                    <a class="red-text" data-toggle="modal" data-target="#DeleteAlert" href="{% url 'lab_05:activity_delete' act_id=activity.id %}" class="card-link red-text">Delete</a>
                                    <a class="tosca-text" href="{% url 'lab_05:activity_details' act_id=activity.id %}" class="card-link">View</a>
                                </h5>
                            </div>
                            <div class="modal fade" id="DeleteAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content dark-navy-bg tosca-text light-grey-border">
                                        <div class="modal-header dark-navy-border">
                                            <h5 class="modal-title hnl-red-text" id="exampleModalCenterTitle">Delete Activity : {{ activity.name }}</h5>
                                            <button type="button" class="light-grey-text close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body dark-navy-border">
                                            Are you sure you want delete this activity?
                                        </div>
                                        <div class="modal-footer dark-navy-border">
                                            <button type="button" class="btn btn-secondary tosca-text dark-navy-bg tosca-border bold" data-dismiss="modal">Cancel</button>
                                            <a class="bold btn btn-secondary red-bg dark-navy-border dark-navy-text" href="{% url 'lab_05:activity_delete' act_id=activity.id %}">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                    <div class="w-100 text-center">
                        <h4 class="red-text section-title">Sorry, we've come up empty :(</h4>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

{% endblock %}